@import url(https://fonts.googleapis.com/css?family=Lato:900);
*,
*:before,
*:after {
     box-sizing: border-box;
}

body {
     margin: auto;
     font-family: 'Lato', sans-serif;
     background-color: #222C32;
     font-weight: 700;
}

.foo {
     padding-top: 50px;
     width: 90%;
     margin: 0 auto;
     text-align: center;
}

.letter {
     display: inline-block;
     font-weight: 800;
     font-size: 9em;
     margin: 0.1em;
     position: relative;
     color: #f5484a;
     transform-style: preserve-3d;
     perspective: 900;
     z-index: 1;
}

.letter:before,
.letter:after {
     position: absolute;
     content: attr(data-letter);
     transform-origin: top left;
     top: 0;
     left: 0;
}

.letter,
.letter:before,
.letter:after {
     transition: all 0.4s ease-out;
}

.letter:before {
     color: #222C32;
     text-shadow: -1px 0px 20px rgba(0, 0, 0, .2),
     1px 0px 2px rgba(0, 0, 0, .9);
     z-index: 3;
     transform: rotateX(0deg) rotateY(-15deg) rotateZ(0deg);
}

.letter:after {
     color: rgba(0, 0, 0, .11);
     z-index: 2;
     transform: scale(1.08, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 1deg);
}

.letter:hover:before {
     color: #34434C;
     transform: rotateX(0deg) rotateY(-40deg) rotateZ(0deg);
}

.letter:hover:after {
     transform: scale(1.08, 1) rotateX(0deg) rotateY(40deg) rotateZ(0deg) skew(0deg, 22deg);
}


.enter-knap {
     display: block;
     text-align: center;
     font-size: 2em;
     text-decoration: none;
     color: #f5484a;
     opacity: 1;
     margin-top: 30px;
     letter-spacing: 2px;
     animation: fadeIn 4s;
}

.enter-knap:hover {
     color: #FFF;
     transition: 1s ease-in;
}

@keyframes fadeIn {
     from {
          opacity: 0;
     }
     to {
          opacity: 1;
     }

}
