.cd-container {
     width: 90%;
     max-width: 768px;
     margin: 0 auto;
}

.cd-container img {
     width: 100%;
     padding-top: 20px;
}


.cd-container:after {
     content: "";
     display: table;
     clear: both;
}


@-webkit-keyframes animate-margin-top {
     0% {
          margin-top: 100px;
     }

     100% {
          margin-top: 70px;
     }
}

@-moz-keyframes animate-margin-top {
     0% {
          margin-top: 100px;
     }

     100% {
          margin-top: 70px;
     }
}

@keyframes animate-margin-top {
     0% {
          margin-top: 100px;
     }

     100% {
          margin-top: 70px;
     }
}


.cd-header {
     position: sticky;
     top: 0px;
     left: 0;
     width: 100%;
     height: 50px;
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
     background-color: #030d18;
     z-index: 3;
}

@media only screen and (min-width: 768px) {
     .cd-header {
          height: 0px;
          background-color: transparent;
          box-shadow: none;
          opacity: 0;
     }
}


.cd-primary-nav {
     float: right;
     margin-right: 5%;
     width: 44px;
     height: 100%;
     background: url("../img/cd-icon-menu.svg") no-repeat center center;
     background-size: 44px 44px;
     cursor: pointer;
}

.cd-primary-nav ul {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     -webkit-transform: translateY(-100%);
     -moz-transform: translateY(-100%);
     -ms-transform: translateY(-100%);
     -o-transform: translateY(-100%);
     transform: translateY(-100%);
}

.cd-primary-nav ul.is-visible {
     -webkit-transform: translateY(50px);
     -moz-transform: translateY(50px);
     -ms-transform: translateY(50px);
     -o-transform: translateY(50px);
     transform: translateY(50px);
}

.cd-primary-nav a {
     display: block;
     height: 50px;
     line-height: 50px;
     padding-left: 5%;
     background: #000101;
     border-top: 1px solid #051426;
     color: #f0eee1;
}

@media only screen and (min-width: 2000px) {
     .cd-primary-nav {
          width: auto;
          height: auto;
          background: none;
     }
     .cd-primary-nav ul {
          position: static;
          width: auto;
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          -o-transform: translateY(0);
          transform: translateY(0);
          line-height: 70px;
     }
     .cd-primary-nav ul.is-visible {
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          -o-transform: translateY(0);
          transform: translateY(0);
     }
     .cd-primary-nav li {
          display: inline-block;
          margin-left: 1em;
     }
     .cd-primary-nav a {
          display: inline-block;
          height: auto;
          line-height: normal;
          background: transparent;
          padding: .6em 1em;
          border-top: none;
          color: indianred;
     }
}


#cd-intro {
     position: relative;
     height: 400px;
     width: 100%;
     background: url(../icon-img/head_1.png) no-repeat center center;
     background-size: cover;
     z-index: 2;
}

#cd-intro #cd-intro-tagline {
     width: 90%;
     max-width: 1170px;
     margin: 0 auto;
     text-align: center;
     padding-top: 120px;
}

#cd-intro h1 {
     text-transform: uppercase;
     height: auto;
     line-height: normal;
     background: transparent;
     padding: .6em 1em;
     border-top: none;
     color: #f5484a;
     text-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
     font-family: sans-serif;
}

@media only screen and (min-width: 768px) {
     #cd-intro {
          height: 400px;
     }
     #cd-intro #cd-intro-tagline {
          padding-top: 160px;
     }
     #cd-intro h1 {
          font-size: 4em;
     }
}

@media only screen and (min-width: 1170px) {
     #cd-intro {
          height: 600px;
     }
     #cd-intro #cd-intro-tagline {
          padding-top: 250px;
     }
}

.cd-secondary-nav {
     position: relative;
     z-index: 3;
}

.cd-secondary-nav ul {
     position: fixed;
     width: 90%;
     max-width: 400px;
     right: 5%;
     bottom: 20px;
     border-radius: 0.25em;
     background: rgba(3, 13, 24, 0.96);
     visibility: hidden;
     z-index: 1;
}


@media only screen and (min-width: 768px) {
     .cd-secondary-nav {
          z-index: 1;
          height: 100px;
          background-color: rgba(3, 13, 24, 0.96);
          -webkit-transition: height 0.3s;
          -moz-transition: height 0.3s;
          transition: height 0.3s;

     }
     .cd-secondary-nav nav,
     .cd-secondary-nav a {
          height: 100%;
     }
     .cd-secondary-nav ul {
          /* reset navigation values */
          position: static;
          width: auto;
          max-width: 100%;
          visibility: visible;
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -ms-transform: scale(1);
          -o-transform: scale(1);
          transform: scale(1);
          text-align: center;
          background-color: transparent;
     }
     .cd-secondary-nav li {
          display: inline-block;
          margin-left: 4px;
     }
     .cd-secondary-nav li a {
          position: relative;
          text-align: center;
          display: block;
          padding: 58px 40px 0 40px;
          border-bottom: none;
          -webkit-transition: padding 0.2s;
          -moz-transition: padding 0.2s;
          transition: padding 0.2s;
     }
     .cd-secondary-nav li a b {
          text-transform: uppercase;
          font-size: 13px;
          font-size: 0.8125rem;
          font-weight: 700;
          color: rgba(240, 238, 225, 0.3);
     }
     .cd-secondary-nav li a span {
          position: absolute;
          display: inline-block;
          width: 40px;
          height: 40px;
          top: 18px;
          left: 50%;
          right: auto;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%);
          background-repeat: no-repeat;
          background-image: url(../icon-img/1.svg);
          -webkit-transition: opacity 0.2s;
          -moz-transition: opacity 0.2s;
          transition: opacity 0.2s;
     }
     .cd-secondary-nav li a:hover b,
     .cd-secondary-nav li a.active b {
          color: #f0eee1;
     }
     .cd-secondary-nav li:nth-child(1) a span {
          background-position: 0 0;
     }
     .cd-secondary-nav li:nth-child(2) a span {
          background-image: url(../icon-img/2.svg);
     }
     .cd-secondary-nav li:nth-child(3) a span {
          background-image: url(../icon-img/3.svg);
     }
     .cd-secondary-nav li:nth-child(4) a span {
          background-image: url(../icon-img/4.svg);
     }
     .cd-secondary-nav.is-fixed {
          position: fixed;
          left: 0;
          top: 0;
          height: 70px;
          width: 100%;
     }
     .cd-secondary-nav.animate-children {
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
     }
     .cd-secondary-nav.animate-children li a {
          padding: 26px 30px 0 30px;
     }
     .cd-secondary-nav.animate-children li a span {
          opacity: 0;
     }
}


@media only screen and (max-width: 767px) {
     .cd-secondary-nav-trigger {
          display: none;
     }
}

@media only screen and (max-width: 1170px) {
     .cd-secondary-nav .menu {
          display: none;
     }
}

.cd-section {
     margin: 0 auto;
     padding: 1em 0;
}

.cd-section h2 {
     font-size: 20px;
     font-size: 1.25rem;
     margin-bottom: .6em;
     font-weight: 700;
     color: white;
}

.cd-section p {
     line-height: 1.6;
     color: white;
}

@media only screen and (min-width: 1170px) {
     .cd-section {
          margin: 0 auto;
          padding: 4em 0;
     }
     .cd-section h2 {
          font-size: 30px;
          font-size: 1.875rem;
     }
     .cd-section p {
          font-size: 20px;
          font-size: 1.25rem;
     }
}


/* --------------------------------

FOOTER Section

-------------------------------- */

.parent_foot {
     display: flex;
     justify-content: center;
     background-color: rgba(3, 13, 24, 0.96);
     margin: 0;
     width: 100%;

}

.content_foot {
     margin: 0;
     letter-spacing: 5vw;
     color: rgba(255, 255, 255, 0.10);
}

.content_foot p {
     position: absolute;
     letter-spacing: normal;
     display: inline-block;
     margin: 8px;
     text-indent: 30px;
}

.content_foot p:hover {
     letter-spacing: normal;
     display: inline-flex;
}

#cd-back {
     float: left;
     margin: 2% 2% 2% 2%;
     display: block;
     cursor: pointer;
}

#cd-back:hover {
     color: indianred;
}

#cd-back-2 {
     float: left;
     margin: 2% 2% 2% 2%;
     display: block;
     cursor: pointer;
}

#cd-back-2:hover {
     color: indianred;
}

@media only screen and (min-width: 1200px) {
     #cd-back {
          display: none;
     }
}

@media only screen and (max-width: 768px) {
     #cd-back-2 {
          display: none;
     }
}

.iframe {
     margin: auto;
}

#fact1-c {
     width: 100%;
     display: flex;
     justify-content: center;
}

#fact1 {
     cursor: pointer;
     margin: 10px;
     width: 90%;
     height: 15vw;
     background-color: skyblue;
     font-family: sans-serif;
     text-align: center;
}

#fact2-c {
     width: 100%;
     display: flex;
     justify-content: center;
}

#fact2 {
     cursor: pointer;
     margin: 10px;
     text-align: center;
     width: 90%;
     height: 15vw;
     background-color: cadetblue;
     font-family: sans-serif;
     text-align: center;
}

#fact3-c {
     width: 100%;
     display: flex;
     justify-content: center;
}

#fact3 {
     cursor: pointer;
     margin: 10px;
     text-align: center;
     width: 90%;
     height: 15vw;
     background-color: steelblue;
     font-family: sans-serif;
     text-align: center;
}



#post-text1 {
     display: none;
}

#post-text2 {
     display: none;
}

#post-text3 {
     display: none;
}
