@import url(https://fonts.googleapis.com/css?family=Muli);

body {
     width: 100%;
     height: 100%;
     margin: 20px;
     padding: 0;
     font-family: 'Muli';
     font-size: 18px;
     text-align: center;
}

.text {
     display: inline-block;
     vertical-align: top;
     line-height: 20px;
}

.visible {
     height: 20px;
     overflow: hidden;
     text-align: left;

     display: inline-block;
     vertical-align: top;

     &__list {
          list-style: none;

          margin: 0;
          padding: 0;

          -webkit-animation-name: change;
          -webkit-animation-duration: 12s;
          -webkit-animation-iteration-count: infinite;
          -o-animation-name: change;
          -o-animation-duration: 12s;
          -o-animation-iteration-count: infinite;
          -moz-animation-name: change;
          -moz-animation-duration: 12s;
          -moz-animation-iteration-count: infinite;
          animation-name: change;
          animation-duration: 12s;
          animation-iteration-count: infinite;

          &__item {
               margin: 0;
               line-height: 20px;
               color: #bd4a4a;
          }
     }
}

@-webkit-keyframes change {
     0%,
     100% {
          transform: translate3d(0, 0, 0);
     }
     9.5% {
          transform: translate3d(0, 0, 0);
     }
     12.5% {
          transform: translate3d(0, -20px, 0);
     }
     22% {
          transform: translate3d(0, -20px, 0);
     }
     25% {
          transform: translate3d(0, -40px, 0);
     }
     34.5% {
          transform: translate3d(0, -40px, 0);
     }
     37.5% {
          transform: translate3d(0, -60px, 0);
     }
     47% {
          transform: translate3d(0, -60px, 0);
     }
     50% {
          transform: translate3d(0, -80px, 0);
     }
     59.5% {
          transform: translate3d(0, -80px, 0);
     }
     62.5% {
          transform: translate3d(0, -60px, 0);
     }
     72% {
          transform: translate3d(0, -60px, 0);
     }
     75% {
          transform: translate3d(0, -40px, 0);
     }
     84.5% {
          transform: translate3d(0, -40px, 0);
     }
     87.5% {
          transform: translate3d(0, -20px, 0);
     }
     97% {
          transform: translate3d(0, -20px, 0);
     }
}

@-o-keyframes change {
     0%,
     100% {
          transform: translate3d(0, 0, 0);
     }
     9.5% {
          transform: translate3d(0, 0, 0);
     }
     12.5% {
          transform: translate3d(0, -20px, 0);
     }
     22% {
          transform: translate3d(0, -20px, 0);
     }
     25% {
          transform: translate3d(0, -40px, 0);
     }
     34.5% {
          transform: translate3d(0, -40px, 0);
     }
     37.5% {
          transform: translate3d(0, -60px, 0);
     }
     47% {
          transform: translate3d(0, -60px, 0);
     }
     50% {
          transform: translate3d(0, -80px, 0);
     }
     59.5% {
          transform: translate3d(0, -80px, 0);
     }
     62.5% {
          transform: translate3d(0, -60px, 0);
     }
     72% {
          transform: translate3d(0, -60px, 0);
     }
     75% {
          transform: translate3d(0, -40px, 0);
     }
     84.5% {
          transform: translate3d(0, -40px, 0);
     }
     87.5% {
          transform: translate3d(0, -20px, 0);
     }
     97% {
          transform: translate3d(0, -20px, 0);
     }
}

@-moz-keyframes change {
     0%,
     100% {
          transform: translate3d(0, 0, 0);
     }
     9.5% {
          transform: translate3d(0, 0, 0);
     }
     12.5% {
          transform: translate3d(0, -20px, 0);
     }
     22% {
          transform: translate3d(0, -20px, 0);
     }
     25% {
          transform: translate3d(0, -40px, 0);
     }
     34.5% {
          transform: translate3d(0, -40px, 0);
     }
     37.5% {
          transform: translate3d(0, -60px, 0);
     }
     47% {
          transform: translate3d(0, -60px, 0);
     }
     50% {
          transform: translate3d(0, -80px, 0);
     }
     59.5% {
          transform: translate3d(0, -80px, 0);
     }
     62.5% {
          transform: translate3d(0, -60px, 0);
     }
     72% {
          transform: translate3d(0, -60px, 0);
     }
     75% {
          transform: translate3d(0, -40px, 0);
     }
     84.5% {
          transform: translate3d(0, -40px, 0);
     }
     87.5% {
          transform: translate3d(0, -20px, 0);
     }
     97% {
          transform: translate3d(0, -20px, 0);
     }
}

@keyframes change {
     0%,
     100% {
          transform: translate3d(0, 0, 0);
     }
     9.5% {
          transform: translate3d(0, 0, 0);
     }
     12.5% {
          transform: translate3d(0, -20px, 0);
     }
     22% {
          transform: translate3d(0, -20px, 0);
     }
     25% {
          transform: translate3d(0, -40px, 0);
     }
     34.5% {
          transform: translate3d(0, -40px, 0);
     }
     37.5% {
          transform: translate3d(0, -60px, 0);
     }
     47% {
          transform: translate3d(0, -60px, 0);
     }
     50% {
          transform: translate3d(0, -80px, 0);
     }
     59.5% {
          transform: translate3d(0, -80px, 0);
     }
     62.5% {
          transform: translate3d(0, -60px, 0);
     }
     72% {
          transform: translate3d(0, -60px, 0);
     }
     75% {
          transform: translate3d(0, -40px, 0);
     }
     84.5% {
          transform: translate3d(0, -40px, 0);
     }
     87.5% {
          transform: translate3d(0, -20px, 0);
     }
     97% {
          transform: translate3d(0, -20px, 0);
     }
}

// 8 is the number of animation.
// Here, there are 5 lines :
// 1 to 2
// 2 to 3
// 3 to 4
// 4 to 5
// 5 to 4
// 4 to 3
// 3 to 2
// 2 to 1
// 8x + 8y = 100 (100% duration)
// HERE :
// y = 3 -> Animation between two lines
// x = 9.5 -> Time spent on a line
// You can define a value and calculate the other if you want change speed or the number of lines
