@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

.port-section {
     max-width: 960px;
     height: 650px;
     margin: 0 auto;
     padding: 6% 2%;
}

.port-grid {
     margin: 20px 0 0 0;
     padding: 0;
     list-style: none;
     display: block;
     text-align: center;
     width: 100%;
     height: 100%;
}

.port-grid:after {
     clear: both;
}

.port-grid:after,
.port-box:before {
     content: '';
     display: table;
}

.port-grid li {
     width: 200px;
     height: 250px;
     display: inline-block;
     margin: 20px;
}

.port-box {
     width: 100%;
     height: 100%;
     position: relative;
     cursor: pointer;
     border-radius: 10px;
     -webkit-transition: 0.3s ease-in-out,
     -webkit-transform 0.3s ease-in-out;
     -moz-transition: 0.3s ease-in-out,
     -moz-transform 0.3s ease-in-out;
     transition: all 0.3s ease-in-out,
     transform 0.3s ease-in-out, ;
}

.port-box:hover {
     transform: scale(1.05);
}

.port-img-1 {
     background: linear-gradient( rgba(0, 0, 0, 0.50),
     rgba(0, 0, 0, 0.10)),
     /* bottom, image */
     url(../images/web.png);
}

.port-img-2 {
     background: linear-gradient( rgba(0, 0, 0, 0.50),
     rgba(0, 0, 0, 0.10)),
     /* bottom, image */
     url(../images/video.png);
}

.port-img-3 {
     background: linear-gradient( rgba(0, 0, 0, 0.50),
     rgba(0, 0, 0, 0.10)),
     /* bottom, image */
     url(../images/flower.jpg);
}

.port-img-4 {
     background: linear-gradient( rgba(0, 0, 0, 0.50),
     rgba(0, 0, 0, 0.10)),
     /* bottom, image */
     url(../images/feather.jpg);
}

.port-info {
     position: absolute;
     width: inherit;
     height: inherit;
}

.port-info h3 {
     font-family: 'Fredericka the Great', cursive;
     font-weight: 400;
     color: #fff;
     font-size: 42px;
     text-align: center;
     padding: 100px 0 0 0;
     line-height: 1.5;
}

/* --------------------------------

VIDEO-HOLDER Section

-------------------------------- */

.section-video {
     background-color: #2B343A;
     margin: auto;
     max-width: 1200px;
     height: 1000px;
}

.container {
     margin: auto;
     max-width: 1200px;
}

p,
h1 {
     color: white;
}

.resp-video {
     max-width: 100%;

}

.cell {
     margin: auto;
     display: block;
     margin-right: 5px;
}

@media screen and (min-width: 768px) {
     .grid {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
     }
     .cell {
          width: 50%;
     }
}

@media screen and (min-width: 1170px) {
     .cell {
          width: calc(100% / 5);
     }
}

.animation-section {
     max-width: 1200px;
     height: 100%;
     margin: auto;
     padding: 2% 2%;
     display: flex;
     flex-wrap: wrap;
     background-color: #2B343A;
}

h2 {
     color: #fff;
     font-size: 1.5em;
     font-family: sans-serif;
}

h1 {
     color: black;
     font-family: sans-serif;
     font-size: 2em;
     text-align: center;
}

.animation-content {
     flex-basis: 400px;
     margin: 20px 0 0 0;
     padding: 0;
     list-style: none;
     display: block;
     text-align: center;
     width: 30%;
}

.ux-section {
     max-width: 1200px;
     height: 100%;
     margin: auto;
     padding: 2% 2%;
     display: block;
     background-color: #fff;
}

.ux-content {
     margin: 20px 0 0 0;
     padding: 0;
     display: block;
     text-align: center;
     width: 100%;
}

.ux-li {
     font-family: serif;
     color: #fff;
     font-size: 1.25em;
     line-height: 1.6;
}


#h2-center {
     text-align: center;
}
